<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}

</head>
<body>


{{>navbar}}

<!--main header-->
<div class="container-fluid main-header" >
<div class="row">
<div class="col-md-10 col-12 mx-auto">
<div class="row">

<!-- left side div-->

<div class="col-md-6 col-12 main_header_right align-items-center">
<figure>
 <img src="about1.png" alt="Swati" class="img-fluid" title="Swati Singh">


</div>


<div class="col-md-6 col-12 main_header_left">
<p>Welcome to weather app</p>
<h1>Weather app gives <span class="text_clr"> accourate weather </span>info of your city</h1>
<a href="/weather"><button>About app</button>
</div>

<!--right side div-->


</div>
</div>
</div>
</div>
</div>


<!--footer code-->

{{>footer}}

</body>
</html>
